header {
  background-position: center;
  background-size: cover;
  top: 0;
  width: 100%;
  z-index: 10;
  img {
    height: 4rem;
  }
  .navContent {
    box-sizing: border-box;
    max-width: 1150px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .navBar {
      display: none;
      a {
        color: white;
        display: flex;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        padding-left: 2.5rem;
        font-weight: 700;
        &:hover {
          color: #f5cd79;
        }
      }
    }
  }
}

.tabBar {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(100, 100, 100, 0.5);
  z-index: 10;
  backdrop-filter: blur(0.5rem);
  position: fixed;
  bottom: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1rem 1.5rem;
  align-items: center;
  justify-content: space-between;
  a {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    i {
      padding-bottom: 0.5rem;
    }
    p {
      font-size: 0.75rem;
      margin: 0;
    }
    &:hover {
      color: #fff;
    }
  }
  .active {
    color: #f5cd79;
  }
}

.catchBanner {
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 1.5rem;
  box-sizing: border-box;
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  p {
    font-weight: 300;
    margin-bottom: 3.5rem;
  }
  a {
    padding: 1.5rem 3rem;
    background-color: #f5cd79;
    color: black;
    font-weight: 600;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 1rem;
    &:hover {
      background-color: brown;
    }
  }
}

@media (min-width: 768px) {
  header {
    padding: 1rem 0;
    background-color: #46464680;
    .navContent {
      justify-content: space-between;
      .navBar {
        display: flex;
      }
    }
  }
  .tabBar {
    display: none;
  }
  .catchBanner {
    h1 {
      font-size: 5rem;
    }
  }
}
