header {
  background-color: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(0.5rem);
  background-position: center;
  background-size: cover;
  top: 0;
  width: 100%;
  z-index: 10;
}
header img {
  height: 4rem;
}
header .navContent {
  box-sizing: border-box;
  max-width: 1150px;
  height: 7rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navContent .navBar {
  display: none;
}
header .navContent .navBar a {
  color: #f1f2f6;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 2.5rem;
  font-weight: 700;
}
header .navContent .navBar a:hover {
  color: #f5cd79;
}
header .navContent .navBar a:hover p::after {
  width: 75%;
}
header .navContent .navBar a:first-of-type {
  margin-left: 0;
}
header .navContent .navBar a p {
  position: relative;
}
header .navContent .navBar a p::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  left: 0;
  top: 100%;
  background-color: #f5cd79;
  transition: ease-in-out 450ms;
}
header .navContent .navBar a.active {
  color: #f5cd79;
}
header .navContent .navBar a.active p::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #f5cd79;
  position: absolute;
  left: 0;
  top: 100%;
}

.catchBanner {
  max-width: 1150px;
  height: calc(100% - 7rem);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 2rem;
  box-sizing: border-box;
}
.catchBanner h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.catchBanner p {
  font-size: 1.25rem;
  font-weight: 300;
}
.catchBanner a {
  box-sizing: border-box;
  position: relative;
  padding: 1.5rem 3rem;
  color: #f5cd79;
  font-weight: 600;
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 1rem;
  border: 2px solid #f5cd79;
  transition: ease-in-out 300ms;
}
.catchBanner a:hover {
  border: 2px solid #f1f2f6;
  color: #f1f2f6;
}

.tabBar {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(0.5rem);
  z-index: 10;
  position: fixed;
  bottom: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1rem 2.5rem;
  align-items: center;
  justify-content: space-between;
}
.tabBar a {
  color: #f1f2f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.tabBar a i {
  padding-bottom: 0.5rem;
}
.tabBar a p {
  font-size: 0.75rem;
  margin: 0;
}
.tabBar .active {
  color: #f5cd79;
}

@media (min-width: 768px) {
  header {
    padding: 1rem 0;
  }
  header .navContent {
    justify-content: space-between;
  }
  header .navContent .navBar {
    display: flex;
  }

  .tabBar {
    display: none;
  }

  .catchBanner h1 {
    font-size: 5rem;
  }
  .catchBanner a {
    font-size: 2rem;
  }
}
footer {
  width: 100%;
  height: 7rem;
  bottom: 0;
  padding-bottom: 5rem;
  background-color: #f5cd79;
  color: black;
  font-size: 0.75rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  footer {
    padding-bottom: 0;
  }
}
#presentation {
  text-align: center;
}
#presentation .videoFrame iframe {
  margin-top: 2rem;
  width: 100%;
  aspect-ratio: 16/9;
}

.swiperContainer {
  width: 100%;
  background-color: #fff;
}
.swiperContainer .swiperArticle .swiper-button-prev,
.swiperContainer .swiperArticle .swiper-button-next {
  color: #4a69bd;
}
.swiperContainer .swiperArticle .swiper-pagination-bullet {
  transform: scale(0.75);
  transition-duration: 300ms;
  background-color: #4a69bd;
}
.swiperContainer .swiperArticle .swiper-pagination-bullet-active {
  transform: scale(1.5);
  background-color: #4a69bd;
  transition-duration: 300ms;
}
.swiperContainer .swiperArticle .swiper-slide {
  background-color: white;
  height: 100%;
  display: flex;
}
.swiperContainer .swiperArticle .swiper-slide img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 16/9;
  object-fit: contain;
}

body {
  background-color: #303952;
  margin: 0;
  font-family: sans-serif;
  color: #f1f2f6;
}

main {
  position: relative;
  height: 100vh;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0.75rem 0 1.5rem;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.75rem;
}
p.articlePrice {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
  color: #f5cd79;
}

li {
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

a {
  color: inherit;
}

section {
  padding: 0 1.5rem;
  max-width: 768px;
  margin-top: 7rem;
  margin-bottom: 3.5rem;
  margin-left: auto;
  margin-right: auto;
}

label,
input {
  box-sizing: border-box;
}

label {
  display: block;
  padding-bottom: 0.5rem;
}

input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.25rem;
}

button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #f5cd79;
  font-weight: 600;
  border: none;
}

.cardItem {
  text-decoration: none;
}
.cardItem article {
  border-radius: 1rem;
  background-color: rgba(241, 242, 246, 0.15);
  backdrop-filter: blur(0.5rem);
  margin-bottom: 2rem;
}
.cardItem article .imgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  aspect-ratio: 16/9;
}
.cardItem article .imgContainer img {
  width: 90%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.cardItem article .txtCard {
  padding: 0.75rem 1.25rem;
  color: #f1f2f6;
}
.cardItem article .txtCard .itemName {
  padding: 0;
}
.cardItem article .txtCard .itemName h2 {
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.cardItem article .txtCard .itemName p {
  font-weight: 300;
}
.cardItem article .txtCard .itemName h2,
.cardItem article .txtCard .itemName p {
  margin: 0;
}
.cardItem article .txtCard div {
  display: flex;
  justify-content: space-between;
}
.cardItem:hover .txtCard {
  color: #f5cd79;
}

.tabPricing .tabLine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: solid black 1px;
}
.tabPricing .tabLine .name {
  padding: 24px 4px 24px 24px;
}
.tabPricing .tabLine .name p {
  padding: 0;
}
.tabPricing .tabLine .price {
  font-weight: 600;
  text-align: center;
  padding: 24px;
  border-left: solid 1px black;
  border-right: solid 1px black;
}
.tabPricing .tabLine .details {
  text-align: right;
  padding: 24px 24px 24px 4px;
}
.tabPricing .tabLine .details p {
  padding: 0;
}
.tabPricing .tabLine * {
  height: 100%;
  box-sizing: border-box;
}
.tabPricing .tabLine:nth-child(odd) {
  background-color: #00000033;
}

.coverGame {
  width: 100%;
  max-height: 65vh;
  object-fit: cover;
  object-position: bottom;
}

@media (min-width: 768px) {
  section {
    margin-top: 10rem;
  }
}
@media (min-width: 1025px) {
  section {
    max-width: 1150px;
  }
}

/*# sourceMappingURL=globals.css.map */
