body {
  background-color: #303952;
  margin: 0;
  font-family: sans-serif;
  color: rgb(241, 242, 246);
}

main {
  position: relative;
  height: 100vh;
}

header {
  background-color: rgba(100, 100, 100, 0.5);
  background-position: center;
  background-size: cover;
  padding-bottom: 1.5rem;
  top: 0;
  width: 100%;
  z-index: 20;
  img {
    height: 4rem;
  }
}

footer {
  width: 100%;
  height: 105px;
  bottom: 0;
  background-color: darkolivegreen;
  font-size: 0.75rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
  p,
  a {
    color: rgb(241, 242, 246);
  }
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

section {
  padding: 0 1.5rem;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  img {
    width: 100%;
  }
}

.cardItem {
  text-decoration: none;
  article {
    border-radius: 1rem;
    background-color: rgba(241, 242, 246, 0.15);
    backdrop-filter: blur(0.5rem);
    margin-bottom: 2rem;
    .imgContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      img {
        aspect-ratio: 16/9;
        width: 90%;
        object-fit: cover;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
      }
    }
    .txtCard {
      padding: 0.75rem 1.25rem;
      color: rgb(241, 242, 246);
      .itemName {
        padding: 0;
        h2 {
          font-weight: 700;
          font-size: 1.5rem;
          padding-bottom: 1rem;
        }
        p {
          font-weight: 300;
        }
        h2,
        p {
          margin: 0;
        }
      }
      div {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &:hover {
    .txtCard {
      color: #cf6a87;
    }
  }
}

.tabPricing {
  .tabLine {
    display: flex;
    align-items: center;
    height: 64px;
    border: solid black 1px;
    & * {
      width: 33.33%;
    }
  }
}

.pageContent {
  margin-top: 160px;
}

@media (max-width: 768px) {
  header {
    background-color: transparent;
  }
}
